h1 {
   color: red;
   margin-top: 3%;
}


table {
    width: 300px;
}


table td {
    width: 0% !important;
}


#boundary {
    border: 30%;

}


input[type=button] {
    width:100%;
}

#btn-red {
    background-color: #db0000;
}




